<!doctype html>
<html>
    <head>
    {% load static %}
    <title>Record Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/capstone.css' %}">

    </head>

    <body class='container'>

        <header>
            <h1>Vinyl Search</h1>
            <a href='accounts/logout/' class='btn' id='log_out_label'>Log Out</a>
            <a href='/' class='btn' id='home'>Home</a>
            <a href='/user_history/' class='btn' id="history_label">User History</a>
            <a href='/accounts/register/' class='btn' id='register'>Register</a>
            <br><br>
        </header>
        <main>
            {% block content %}

            {%  endblock content %}
        </main>
        <footer>
            <h4>Created by: Todd Enders</h4>
            <a id="contact_me" href="/contact/">Contact me</a>

        </footer>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/capstone.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script><!--jquery ui cdn-->
    </body>

</html>
