<!doctype html>
<html>
    <head>
    {% load static %}
    <title>Record Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/capstone.css' %}">

    </head>

    <body class='container'>

        <header>
            <h1>Vinyl Search</h1>
        </header>
        <main>
            <h3>Upload a photo of the album cover you want to search for.</h3><br>
            <form action="{% url 'app' %}" class="dropzone" id="myDropzone" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
                <div class="fallback">
                    <input name="file" type="file" style='display:none' id='choose_img' value="Choose Image"/>
                    <br>
                    <label for="choose_img">Choose an Image</label>
                </div>
                <br>
                <input type='submit' id="submit" value="Upload Image">
            </form>
            <br>
<!--            <img scr="https://api-img.discogs.com/i7HOeCU0Rk6mjSyRyu5w_zMwJ6I=/150x150/smart/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-227476-1423961999-8240.jpeg.jpg">-->
<!--            {{results}}-->
            {% for r in results %}
             <img src="{{ r.thumb }}" />
            {{ r.uri }}
            {{ r.title }}
            {{ r.format }}
            {{ r.community }}
            {% endfor %}
            
        </main>
        <footer></footer>

        <!--<script src="/static/js/dropzone.js"></script>-->
        <!--<script type='text/javascript'>
        Dropzone.options.myDropzone = {

              // Prevents Dropzone from uploading dropped files immediately
              autoProcessQueue : false,

              init : function() {
                  var submitButton = document.querySelector("#submit");
                  myDropzone = this;

                  submitButton.addEventListener("click", function() {
                      myDropzone.processQueue();
                      // Tell Dropzone to process all queued files.
                  });

                  // You might want to show the submit button only when
                  // files are dropped here:
                  this.on("addedfile", function() {
                      // Show submit button here and/or inform user to click it.
                  });

              }
          };
        </script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/capstone.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script><!--jquery ui cdn-->
    </body>

</html>
