.container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    background-image: url('/static/images/background_image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header, main, footer {
    background-color: rgba(175, 175, 175, 0.4);
    margin: 10px;
    border-color: dodgerblue;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    color: dodgerblue;
    opacity: 0.7;
}

 header {
    order: 1;
    width: 80%;
    display:block;
    overflow:auto;
    text-align: center;
}

header > h1 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 66px;
}

 main {
    z-index: 999;
    order: 2;
    width: 80%;
    display:block;
    overflow:auto;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}

main > h3 {
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 24px;
    padding: 8px;
}

a {
    padding: 5px;
}

label {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid dodgerblue;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    font-weight: lighter;
}

#submit {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid dodgerblue;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
}

.dropzone {
    width: 60%;
    height: 23%;
/*
    border: 2px dashed dodgerblue;
    border-radius: 8px;
*/
    margin: auto;
    text-align: center;
}

 footer {
    order: 3;
    width: 80%;
    display:block;
    overflow:auto;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 24px;

}
