.container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    background-image: url('/static/images/background_image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header, main, footer {
    background-color: rgba(175, 175, 175, 0.4);
    margin: 10px;
    border-color: dodgerblue;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    color: dodgerblue;
    opacity: 0.7;
}

 header {
    order: 1;
    width: 80%;
    display: block;
    overflow: auto;
    text-align: center;
}

header > h1 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 66px;
}

 main {
    z-index: 999;
    order: 2;
    width: 80%;
    display: block;
    overflow: auto;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
}

main > h3 {
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 24px;
}

a {
    padding: 5px;
}

#image {
    padding-top: 15px;
}

#choose_label, #submit_label, #contact, #register_label, #login_label{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid dodgerblue;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    font-weight: lighter;
    color: dodgerblue;
}

#choose_label:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

#submit_label:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

#contact:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

#register_label:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

#login_label:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

#contact_me {
    font-size: 16px;
}

p {
    font-size: 16px;
}
 
#loading {
    font-size: 20px;
}

 footer {
    order: 3;
    width: 80%;
    display: block;
    overflow: auto;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 24px;
}
